spec/fixtures/wsdls/admin_service.xml

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://api.channeladvisor.com/webservices/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://api.channeladvisor.com/webservices/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://api.channeladvisor.com/webservices/">
      <s:element name="GetAuthorizationList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="localID" type="s:integer" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAuthorizationListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAuthorizationListResult" type="tns:APIResultOfArrayOfAuthorizationResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="APIResultOfArrayOfAuthorizationResponse">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Status" type="tns:ResultStatus" />
          <s:element minOccurs="1" maxOccurs="1" name="MessageCode" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Data" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ResultData" type="tns:ArrayOfAuthorizationResponse" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="ResultStatus">
        <s:restriction base="s:string">
          <s:enumeration value="Success" />
          <s:enumeration value="Failure" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="ArrayOfAuthorizationResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="AuthorizationResponse" nillable="true" type="tns:AuthorizationResponse" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="AuthorizationResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="AccountID" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="LocalID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="AccountName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AccountType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ResourceName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Status" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="APICredentials" type="tns:APICredentials" />
      <s:complexType name="APICredentials">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DeveloperKey" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="RequestAccess">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="localID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RequestAccessResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RequestAccessResult" type="tns:APIResultOfBoolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="APIResultOfBoolean">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Status" type="tns:ResultStatus" />
          <s:element minOccurs="1" maxOccurs="1" name="MessageCode" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Data" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ResultData" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="Ping">
        <s:complexType />
      </s:element>
      <s:element name="PingResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PingResult" type="tns:APIResultOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="APIResultOfString">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Status" type="tns:ResultStatus" />
          <s:element minOccurs="1" maxOccurs="1" name="MessageCode" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Data" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ResultData" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetAuthorizationListSoapIn">
    <wsdl:part name="parameters" element="tns:GetAuthorizationList" />
  </wsdl:message>
  <wsdl:message name="GetAuthorizationListSoapOut">
    <wsdl:part name="parameters" element="tns:GetAuthorizationListResponse" />
  </wsdl:message>
  <wsdl:message name="GetAuthorizationListAPICredentials">
    <wsdl:part name="APICredentials" element="tns:APICredentials" />
  </wsdl:message>
  <wsdl:message name="RequestAccessSoapIn">
    <wsdl:part name="parameters" element="tns:RequestAccess" />
  </wsdl:message>
  <wsdl:message name="RequestAccessSoapOut">
    <wsdl:part name="parameters" element="tns:RequestAccessResponse" />
  </wsdl:message>
  <wsdl:message name="RequestAccessAPICredentials">
    <wsdl:part name="APICredentials" element="tns:APICredentials" />
  </wsdl:message>
  <wsdl:message name="PingSoapIn">
    <wsdl:part name="parameters" element="tns:Ping" />
  </wsdl:message>
  <wsdl:message name="PingSoapOut">
    <wsdl:part name="parameters" element="tns:PingResponse" />
  </wsdl:message>
  <wsdl:message name="PingAPICredentials">
    <wsdl:part name="APICredentials" element="tns:APICredentials" />
  </wsdl:message>
  <wsdl:portType name="AdminServiceSoap">
    <wsdl:operation name="GetAuthorizationList">
      <wsdl:input message="tns:GetAuthorizationListSoapIn" />
      <wsdl:output message="tns:GetAuthorizationListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RequestAccess">
      <wsdl:input message="tns:RequestAccessSoapIn" />
      <wsdl:output message="tns:RequestAccessSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Ping">
      <wsdl:input message="tns:PingSoapIn" />
      <wsdl:output message="tns:PingSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AdminServiceSoap" type="tns:AdminServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAuthorizationList">
      <soap:operation soapAction="http://api.channeladvisor.com/webservices/GetAuthorizationList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetAuthorizationListAPICredentials" part="APICredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestAccess">
      <soap:operation soapAction="http://api.channeladvisor.com/webservices/RequestAccess" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:RequestAccessAPICredentials" part="APICredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Ping">
      <soap:operation soapAction="http://api.channeladvisor.com/webservices/Ping" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:PingAPICredentials" part="APICredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AdminServiceSoap12" type="tns:AdminServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAuthorizationList">
      <soap12:operation soapAction="http://api.channeladvisor.com/webservices/GetAuthorizationList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetAuthorizationListAPICredentials" part="APICredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestAccess">
      <soap12:operation soapAction="http://api.channeladvisor.com/webservices/RequestAccess" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:RequestAccessAPICredentials" part="APICredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Ping">
      <soap12:operation soapAction="http://api.channeladvisor.com/webservices/Ping" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:PingAPICredentials" part="APICredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AdminService">
    <wsdl:port name="AdminServiceSoap" binding="tns:AdminServiceSoap">
      <soap:address location="https://api.channeladvisor.com/ChannelAdvisorAPI/v6/AdminService.asmx" />
    </wsdl:port>
    <wsdl:port name="AdminServiceSoap12" binding="tns:AdminServiceSoap12">
      <soap12:address location="https://api.channeladvisor.com/ChannelAdvisorAPI/v6/AdminService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>