spec/fixtures/wsdls/order_service.xml

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://api.channeladvisor.com/webservices/" xmlns:s1="http://api.channeladvisor.com/datacontracts/orders" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://api.channeladvisor.com/webservices/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://api.channeladvisor.com/webservices/">
      <s:import namespace="http://api.channeladvisor.com/datacontracts/orders" />
      <s:element name="SetOrdersExportStatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="accountID" nillable="true" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="clientOrderIdentifiers" type="tns:ArrayOfString" />
            <s:element minOccurs="1" maxOccurs="1" name="markAsExported" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SetOrdersExportStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetOrdersExportStatusResult" type="tns:APIResultOfArrayOfBoolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="APIResultOfArrayOfBoolean">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Status" type="tns:ResultStatus" />
          <s:element minOccurs="1" maxOccurs="1" name="MessageCode" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Data" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ResultData" type="tns:ArrayOfBoolean" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="ResultStatus">
        <s:restriction base="s:string">
          <s:enumeration value="Success" />
          <s:enumeration value="Failure" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="ArrayOfBoolean">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="boolean" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="APICredentials" type="tns:APICredentials" />
      <s:complexType name="APICredentials">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DeveloperKey" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="SubmitOrderRefund">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="accountID" nillable="true" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="request" nillable="true" type="s1:RefundOrderRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubmitOrderRefundResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SubmitOrderRefundResult" type="tns:APIResultOfRefundOrderResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="APIResultOfRefundOrderResponse">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Status" type="tns:ResultStatus" />
          <s:element minOccurs="1" maxOccurs="1" name="MessageCode" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Data" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ResultData" type="s1:RefundOrderResponse" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetOrderList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="accountID" nillable="true" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="orderCriteria" nillable="true" type="s1:OrderCriteria" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetOrderListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetOrderListResult" type="tns:APIResultOfArrayOfOrderResponseItem" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="APIResultOfArrayOfOrderResponseItem">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Status" type="tns:ResultStatus" />
          <s:element minOccurs="1" maxOccurs="1" name="MessageCode" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Data" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ResultData" type="tns:ArrayOfOrderResponseItem" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfOrderResponseItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="OrderResponseItem" nillable="true" type="s1:OrderResponseItem" />
        </s:sequence>
      </s:complexType>
      <s:element name="SubmitOrder">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="accountID" nillable="true" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="order" nillable="true" type="s1:OrderSubmit" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubmitOrderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SubmitOrderResult" type="tns:APIResultOfInt32" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="APIResultOfInt32">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Status" type="tns:ResultStatus" />
          <s:element minOccurs="1" maxOccurs="1" name="MessageCode" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Data" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ResultData" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="SetSellerOrderID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="accountID" nillable="true" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="orderIDList" type="tns:ArrayOfInt" />
            <s:element minOccurs="0" maxOccurs="1" name="sellerOrderIDList" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfInt">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="int" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="SetSellerOrderIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetSellerOrderIDResult" type="tns:APIResultOfArrayOfInt32" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="APIResultOfArrayOfInt32">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Status" type="tns:ResultStatus" />
          <s:element minOccurs="1" maxOccurs="1" name="MessageCode" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Data" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ResultData" type="tns:ArrayOfInt" />
        </s:sequence>
      </s:complexType>
      <s:element name="SetSellerOrderItemIDList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="accountID" nillable="true" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="orderID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="lineItemIDList" type="tns:ArrayOfInt" />
            <s:element minOccurs="0" maxOccurs="1" name="sellerOrderItemIDList" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetSellerOrderItemIDListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetSellerOrderItemIDListResult" type="tns:APIResultOfArrayOfBoolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetOrderRefundHistory">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="accountID" nillable="true" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="orderID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetOrderRefundHistoryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetOrderRefundHistoryResult" type="tns:APIResultOfOrderRefundHistoryResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="APIResultOfOrderRefundHistoryResponse">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Status" type="tns:ResultStatus" />
          <s:element minOccurs="1" maxOccurs="1" name="MessageCode" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Data" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ResultData" type="s1:OrderRefundHistoryResponse" />
        </s:sequence>
      </s:complexType>
      <s:element name="UpdateOrderList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="accountID" nillable="true" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="updateOrderSubmitList" type="tns:ArrayOfOrderUpdateSubmit" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfOrderUpdateSubmit">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="OrderUpdateSubmit" nillable="true" type="tns:OrderUpdateSubmit" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="OrderUpdateSubmit">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="OrderID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="NewClientOrderIdentifier" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="FlagStyle" nillable="true" type="s1:FlagType" />
          <s:element minOccurs="0" maxOccurs="1" name="FlagDescription" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TransactionNotes" type="tns:TransactionNoteSubmit" />
          <s:element minOccurs="0" maxOccurs="1" name="OrderStatusUpdate" type="tns:OrderStatusUpdateSubmit" />
          <s:element minOccurs="0" maxOccurs="1" name="BillingInfo" type="s1:BillingInfoUpdateSubmit" />
          <s:element minOccurs="0" maxOccurs="1" name="ShippingInfo" type="s1:ShippingInfoUpdateSubmit" />
          <s:element minOccurs="0" maxOccurs="1" name="PaymentInfo" type="s1:PaymentInfoUpdateSubmit" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TransactionNoteSubmit">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Note" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ShouldOverwrite" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="OrderStatusUpdateSubmit">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="CheckoutPaymentStatus" type="s1:CheckoutPaymentStatusCode" />
          <s:element minOccurs="1" maxOccurs="1" name="ShippingStatus" type="s1:ShippingStatusCode" />
        </s:sequence>
      </s:complexType>
      <s:element name="UpdateOrderListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateOrderListResult" type="tns:APIResultOfArrayOfOrderUpdateResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="APIResultOfArrayOfOrderUpdateResponse">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Status" type="tns:ResultStatus" />
          <s:element minOccurs="1" maxOccurs="1" name="MessageCode" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Data" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ResultData" type="tns:ArrayOfOrderUpdateResponse" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfOrderUpdateResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="OrderUpdateResponse" nillable="true" type="tns:OrderUpdateResponse" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="OrderUpdateResponse">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="FlagAndNotesSuccess" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="FlagAndNotesMessage" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="OrderStatusSuccess" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="OrderStatusMessage" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ShippingAndCOIDSuccess" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="ShippingAndCOIDMessage" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="BillingAndPaymentSuccess" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="BillingAndPaymentMessage" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="OrderMerge">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="accountID" nillable="true" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="primaryOrderID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="orderIDMergeList" type="tns:ArrayOfInt" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="OrderMergeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="OrderMergeResult" type="tns:APIResultOfBoolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="APIResultOfBoolean">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Status" type="tns:ResultStatus" />
          <s:element minOccurs="1" maxOccurs="1" name="MessageCode" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Data" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ResultData" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="OrderSplit">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="accountID" nillable="true" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="orderID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="lineItemIDList" type="tns:ArrayOfInt" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="OrderSplitResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="OrderSplitResult" type="tns:APIResultOfBoolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubmitOrderWithRecycling">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="accountID" nillable="true" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="order" nillable="true" type="s1:OrderSubmit" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubmitOrderWithRecyclingResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SubmitOrderWithRecyclingResult" type="tns:APIResultOfInt32" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetOrderListWithRecycling">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="accountID" nillable="true" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="orderCriteria" nillable="true" type="s1:OrderCriteria" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetOrderListWithRecyclingResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetOrderListWithRecyclingResult" type="tns:APIResultOfArrayOfOrderResponseItem" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Ping">
        <s:complexType />
      </s:element>
      <s:element name="PingResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PingResult" type="tns:APIResultOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="APIResultOfString">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Status" type="tns:ResultStatus" />
          <s:element minOccurs="1" maxOccurs="1" name="MessageCode" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Data" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ResultData" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://api.channeladvisor.com/datacontracts/orders">
      <s:complexType name="RefundOrderRequest">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ClientOrderIdentifier" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="OrderID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Amount" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="AdjustmentReason" type="s1:RefundAdjustmentReason" />
          <s:element minOccurs="0" maxOccurs="1" name="SellerRefundID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RefundItems" type="s1:ArrayOfRefundItem" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="RefundAdjustmentReason">
        <s:restriction base="s:string">
          <s:enumeration value="GeneralAdjustment" />
          <s:enumeration value="ItemNotAvailable" />
          <s:enumeration value="CustomerReturnedItem" />
          <s:enumeration value="CouldNotShip" />
          <s:enumeration value="AlternateItemProvided" />
          <s:enumeration value="BuyerCancelled" />
          <s:enumeration value="CustomerExchange" />
          <s:enumeration value="MerchandiseNotReceived" />
          <s:enumeration value="ShippingAddressUndeliverable" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="ArrayOfRefundItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="RefundItem" nillable="true" type="s1:RefundItem" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RefundItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="SKU" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Amount" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="ShippingAmount" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="ShippingTaxAmount" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="TaxAmount" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="GiftWrapAmount" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="GiftWrapTaxAmount" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="RecyclingFee" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="Quantity" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="RefundRequestID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="RefundRequested" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="RestockQuantity" nillable="true" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="AdjustmentReason" type="s1:RefundAdjustmentReason" />
          <s:element minOccurs="0" maxOccurs="1" name="SellerRefundID" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="OrderLineItemRefundHistoryResponse">
        <s:complexContent mixed="false">
          <s:extension base="s1:RefundItem">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="InvoiceItemID" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="ItemSaleSource" type="s1:SiteToken" />
              <s:element minOccurs="1" maxOccurs="1" name="RefundRequestStatus" type="s1:AsyncStatusCode" />
              <s:element minOccurs="0" maxOccurs="1" name="RefundPaymentInfo" type="s1:PaymentInfo" />
              <s:element minOccurs="1" maxOccurs="1" name="RestockStatus" type="s1:AsyncStatusCode" />
              <s:element minOccurs="1" maxOccurs="1" name="RefundCreateDateGMT" type="s:dateTime" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:simpleType name="SiteToken">
        <s:restriction base="s:string">
          <s:enumeration value="UNKNOWN" />
          <s:enumeration value="EBAY_US" />
          <s:enumeration value="AMAZON_AUCTIONS" />
          <s:enumeration value="AMAZON_MARKETPLACE" />
          <s:enumeration value="AMAZON_MERCHANTSAT" />
          <s:enumeration value="YAHOO" />
          <s:enumeration value="EBAY_MOTORS" />
          <s:enumeration value="EBAY_MOTORS_FIXED_PRICE" />
          <s:enumeration value="EBAY_STORES" />
          <s:enumeration value="EBAY_CA" />
          <s:enumeration value="EBAY_DE" />
          <s:enumeration value="EBAY_FR" />
          <s:enumeration value="EBAY_UK" />
          <s:enumeration value="EBAY_AU" />
          <s:enumeration value="DIRECT_SALE" />
          <s:enumeration value="EBAY_ES" />
          <s:enumeration value="EBAY_IT" />
          <s:enumeration value="CHANNELADVISOR_STORE" />
          <s:enumeration value="OVERSTOCK" />
          <s:enumeration value="EBAY_IE" />
          <s:enumeration value="DEMANDWARE_STORE" />
          <s:enumeration value="OVERSTOCK_SHOPPING" />
          <s:enumeration value="YAHOO_STORES" />
          <s:enumeration value="AMAZON_US" />
          <s:enumeration value="AMAZON_UK" />
          <s:enumeration value="AMAZON_DE" />
          <s:enumeration value="AMAZON_FR" />
          <s:enumeration value="STOREADVISOR_PREMIUM" />
          <s:enumeration value="TRADING_POST" />
          <s:enumeration value="PIXMANIA" />
          <s:enumeration value="BUY_DOT_COM" />
          <s:enumeration value="SELL_ON_SEARS" />
          <s:enumeration value="NEWEGG" />
          <s:enumeration value="MAGENTO_ENTERPRISE" />
          <s:enumeration value="MAGENTO_GO" />
          <s:enumeration value="AMAZON_WEBSTORE" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="AsyncStatusCode">
        <s:restriction base="s:string">
          <s:enumeration value="Error" />
          <s:enumeration value="SubmittedNotProcessed" />
          <s:enumeration value="ProcessedNotAcknowledged" />
          <s:enumeration value="AcknowledgedPostProcessingNotComplete" />
          <s:enumeration value="PostProcessingComplete" />
          <s:enumeration value="NoChange" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="PaymentInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="PaymentType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CreditCardLast4" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PayPalID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MerchantReferenceNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PaymentTransactionID" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RefundOrderResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ClientOrderIdentifier" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="OrderID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="RefundItems" type="s1:ArrayOfRefundItem" />
          <s:element minOccurs="1" maxOccurs="1" name="MessageCode" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="OrderCriteria">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="OrderCreationFilterBeginTimeGMT" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="OrderCreationFilterEndTimeGMT" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="StatusUpdateFilterBeginTimeGMT" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="StatusUpdateFilterEndTimeGMT" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="JoinDateFiltersWithOr" nillable="true" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="DetailLevel" nillable="true" type="s1:DetailLevelType" />
          <s:element minOccurs="1" maxOccurs="1" name="ExportState" nillable="true" type="s1:ExportStateType" />
          <s:element minOccurs="0" maxOccurs="1" name="OrderIDList" type="s1:ArrayOfInt" />
          <s:element minOccurs="0" maxOccurs="1" name="ClientOrderIdentifierList" type="s1:ArrayOfString" />
          <s:element minOccurs="1" maxOccurs="1" name="OrderStateFilter" nillable="true" type="s1:OrderStateCode" />
          <s:element minOccurs="1" maxOccurs="1" name="PaymentStatusFilter" nillable="true" type="s1:PaymentStatusCode" />
          <s:element minOccurs="1" maxOccurs="1" name="CheckoutStatusFilter" nillable="true" type="s1:CheckoutStatusCode" />
          <s:element minOccurs="1" maxOccurs="1" name="ShippingStatusFilter" nillable="true" type="s1:ShippingStatusCode" />
          <s:element minOccurs="1" maxOccurs="1" name="RefundStatusFilter" nillable="true" type="s1:OrderRefundStatusCode" />
          <s:element minOccurs="0" maxOccurs="1" name="DistributionCenterCode" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="PageNumberFilter" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="PageSize" nillable="true" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="DetailLevelType">
        <s:restriction base="s:string">
          <s:enumeration value="Low" />
          <s:enumeration value="Medium" />
          <s:enumeration value="High" />
          <s:enumeration value="Complete" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="ExportStateType">
        <s:restriction base="s:string">
          <s:enumeration value="Unknown" />
          <s:enumeration value="Exported" />
          <s:enumeration value="NotExported" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="ArrayOfInt">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="int" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="OrderStateCode">
        <s:restriction base="s:string">
          <s:enumeration value="Active" />
          <s:enumeration value="Archived" />
          <s:enumeration value="Cancelled" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="PaymentStatusCode">
        <s:restriction base="s:string">
          <s:enumeration value="NoChange" />
          <s:enumeration value="NotSubmitted" />
          <s:enumeration value="Cleared" />
          <s:enumeration value="Submitted" />
          <s:enumeration value="Failed" />
          <s:enumeration value="Deposited" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="CheckoutStatusCode">
        <s:restriction base="s:string">
          <s:enumeration value="NoChange" />
          <s:enumeration value="NotVisited" />
          <s:enumeration value="Completed" />
          <s:enumeration value="Visited" />
          <s:enumeration value="Cancelled" />
          <s:enumeration value="CompletedOffline" />
          <s:enumeration value="OnHold" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="ShippingStatusCode">
        <s:restriction base="s:string">
          <s:enumeration value="NoChange" />
          <s:enumeration value="Unshipped" />
          <s:enumeration value="Shipped" />
          <s:enumeration value="PartiallyShipped" />
          <s:enumeration value="PendingShipment" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="OrderRefundStatusCode">
        <s:restriction base="s:string">
          <s:enumeration value="NoChange" />
          <s:enumeration value="FailedAttemptsOnly" />
          <s:enumeration value="NoRefunds" />
          <s:enumeration value="OrderLevel" />
          <s:enumeration value="LineItemLevel" />
          <s:enumeration value="OrderAndLineItemLevel" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="OrderResponseItem" abstract="true">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="NumberOfMatches" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="OrderTimeGMT" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="LastUpdateDate" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="TotalOrderAmount" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="OrderState" type="s1:OrderStateCode" />
          <s:element minOccurs="1" maxOccurs="1" name="DateCancelledGMT" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="OrderID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ClientOrderIdentifier" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SellerOrderID" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="FlagStyle" nillable="true" type="s1:FlagType" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="FlagType">
        <s:restriction base="s:string">
          <s:enumeration value="ItemCopied" />
          <s:enumeration value="ExclamationPoint" />
          <s:enumeration value="NoFlag" />
          <s:enumeration value="RedFlag" />
          <s:enumeration value="QuestionMark" />
          <s:enumeration value="NotAvailable" />
          <s:enumeration value="Price" />
          <s:enumeration value="YellowFlag" />
          <s:enumeration value="GreenFlag" />
          <s:enumeration value="BlueFlag" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="OrderResponseDetailLow">
        <s:complexContent mixed="false">
          <s:extension base="s1:OrderResponseItem">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="OrderStatus" type="s1:OrderStatus" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="OrderStatus">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="CheckoutStatus" type="s1:CheckoutStatusCode" />
          <s:element minOccurs="1" maxOccurs="1" name="CheckoutDateGMT" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="PaymentStatus" type="s1:PaymentStatusCode" />
          <s:element minOccurs="1" maxOccurs="1" name="PaymentDateGMT" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="ShippingStatus" type="s1:ShippingStatusCode" />
          <s:element minOccurs="1" maxOccurs="1" name="ShippingDateGMT" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="OrderRefundStatus" type="s1:OrderRefundStatusCode" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="OrderResponseDetailMedium">
        <s:complexContent mixed="false">
          <s:extension base="s1:OrderResponseDetailLow">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="ResellerID" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="BuyerEmailAddress" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="EmailOptIn" type="s:boolean" />
              <s:element minOccurs="0" maxOccurs="1" name="PaymentInfo" type="s1:PaymentInfoResponse" />
              <s:element minOccurs="0" maxOccurs="1" name="ShippingInfo" type="s1:ShippingInfoResponse" />
              <s:element minOccurs="0" maxOccurs="1" name="BillingInfo" type="s1:BillingInfo" />
              <s:element minOccurs="0" maxOccurs="1" name="FlagDescription" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="PaymentInfoResponse">
        <s:complexContent mixed="false">
          <s:extension base="s1:PaymentInfo" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ShippingInfoResponse">
        <s:complexContent mixed="false">
          <s:extension base="s1:ShippingInfo" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ShippingInfo" abstract="true">
        <s:complexContent mixed="false">
          <s:extension base="s1:ContactComplete">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="ShipmentList" type="s1:ArrayOfShipment" />
              <s:element minOccurs="0" maxOccurs="1" name="ShippingInstructions" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="EstimatedShipDate" nillable="true" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="DeliveryDate" nillable="true" type="s:dateTime" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ContactComplete">
        <s:complexContent mixed="false">
          <s:extension base="s1:AddressInfo">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="CompanyName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="JobTitle" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Suffix" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PhoneNumberDay" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PhoneNumberEvening" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="AddressInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="AddressLine1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AddressLine2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Region" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RegionDescription" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PostalCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CountryCode" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="BillingInfo">
        <s:complexContent mixed="false">
          <s:extension base="s1:ContactComplete" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfShipment">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Shipment" nillable="true" type="s1:Shipment" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Shipment">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ShippingCarrier" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ShippingClass" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TrackingNumber" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="OrderResponseDetailHigh">
        <s:complexContent mixed="false">
          <s:extension base="s1:OrderResponseDetailMedium">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="ShoppingCart" type="s1:OrderCart" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="OrderCart">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="CartID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CheckoutSource" type="s1:CheckoutSourceType" />
          <s:element minOccurs="1" maxOccurs="1" name="VATTaxCalculationOption" type="s1:VAT_Calculation_Type" />
          <s:element minOccurs="1" maxOccurs="1" name="VATShippingOption" type="s1:VAT_Calculation_Type" />
          <s:element minOccurs="1" maxOccurs="1" name="VATGiftWrapOption" type="s1:VAT_Calculation_Type" />
          <s:element minOccurs="0" maxOccurs="1" name="LineItemSKUList" type="s1:ArrayOfOrderLineItemItem" />
          <s:element minOccurs="0" maxOccurs="1" name="LineItemInvoiceList" type="s1:ArrayOfOrderLineItemInvoice" />
          <s:element minOccurs="0" maxOccurs="1" name="LineItemPromoList" type="s1:ArrayOfOrderLineItemPromo" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="CheckoutSourceType">
        <s:restriction base="s:string">
          <s:enumeration value="Unspecified" />
          <s:enumeration value="CA_Checkout" />
          <s:enumeration value="Google_Checkout" />
          <s:enumeration value="PayPal" />
          <s:enumeration value="Demandware_Checkout" />
          <s:enumeration value="Site_Checkout" />
          <s:enumeration value="YahooStores_Checkout" />
          <s:enumeration value="Overstock_Shopping" />
          <s:enumeration value="Sears_Marketplace" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="VAT_Calculation_Type">
        <s:restriction base="s:string">
          <s:enumeration value="Unspecified" />
          <s:enumeration value="VAT_INCLUSIVE" />
          <s:enumeration value="VAT_EXCLUSIVE" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="ArrayOfOrderLineItemItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="OrderLineItemItem" nillable="true" type="s1:OrderLineItemItem" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="OrderLineItemItem">
        <s:complexContent mixed="false">
          <s:extension base="s1:OrderLineItemBase">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="LineItemID" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="AllowNegativeQuantity" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="Quantity" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="ItemSaleSource" type="s1:SiteToken" />
              <s:element minOccurs="0" maxOccurs="1" name="SKU" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="BuyerUserID" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="BuyerFeedbackRating" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="SalesSourceID" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="VATRate" type="s:decimal" />
              <s:element minOccurs="1" maxOccurs="1" name="TaxCost" nillable="true" type="s:decimal" />
              <s:element minOccurs="1" maxOccurs="1" name="ShippingCost" nillable="true" type="s:decimal" />
              <s:element minOccurs="1" maxOccurs="1" name="ShippingTaxCost" nillable="true" type="s:decimal" />
              <s:element minOccurs="1" maxOccurs="1" name="GiftWrapCost" nillable="true" type="s:decimal" />
              <s:element minOccurs="1" maxOccurs="1" name="GiftWrapTaxCost" nillable="true" type="s:decimal" />
              <s:element minOccurs="0" maxOccurs="1" name="GiftMessage" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="GiftWrapLevel" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ItemPromoList" type="s1:ArrayOfOrderLineItemItemPromo" />
              <s:element minOccurs="1" maxOccurs="1" name="RecyclingFee" nillable="true" type="s:decimal" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="OrderLineItemBase" abstract="true">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="LineItemType" type="s1:LineItemTypeCode" />
          <s:element minOccurs="1" maxOccurs="1" name="UnitPrice" type="s:decimal" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="LineItemTypeCode">
        <s:restriction base="s:string">
          <s:enumeration value="SKU" />
          <s:enumeration value="Listing" />
          <s:enumeration value="Promotion" />
          <s:enumeration value="SalesTax" />
          <s:enumeration value="Shipping" />
          <s:enumeration value="VATShipping" />
          <s:enumeration value="ShippingInsurance" />
          <s:enumeration value="AdditionalCostOrDiscount" />
          <s:enumeration value="BuyerOptInIncentive" />
          <s:enumeration value="GiftWrap" />
          <s:enumeration value="VATGiftWrap" />
          <s:enumeration value="RecyclingFee" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="OrderLineItemPromo">
        <s:complexContent mixed="false">
          <s:extension base="s1:OrderLineItemBase">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="PromoCode" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="OrderLineItemItemPromo">
        <s:complexContent mixed="false">
          <s:extension base="s1:OrderLineItemPromo">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="ShippingPrice" type="s:decimal" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="OrderLineItemInvoice">
        <s:complexContent mixed="false">
          <s:extension base="s1:OrderLineItemBase" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfOrderLineItemItemPromo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="OrderLineItemItemPromo" nillable="true" type="s1:OrderLineItemItemPromo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="OrderLineItemItemResponse">
        <s:complexContent mixed="false">
          <s:extension base="s1:OrderLineItemItem">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="UnitWeight" type="s1:ItemWeight" />
              <s:element minOccurs="0" maxOccurs="1" name="WarehouseLocation" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DistributionCenterCode" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="IsFBA" type="s:boolean" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ItemWeight">
        <s:simpleContent>
          <s:extension base="s:double">
            <s:attribute name="UnitOfMeasure" type="s:string" />
          </s:extension>
        </s:simpleContent>
      </s:complexType>
      <s:complexType name="ArrayOfOrderLineItemInvoice">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="OrderLineItemInvoice" nillable="true" type="s1:OrderLineItemInvoice" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfOrderLineItemPromo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="OrderLineItemPromo" nillable="true" type="s1:OrderLineItemPromo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="OrderResponseDetailComplete">
        <s:complexContent mixed="false">
          <s:extension base="s1:OrderResponseDetailHigh">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="CustomValueList" type="s1:ArrayOfCustomValue" />
              <s:element minOccurs="0" maxOccurs="1" name="BuyerIpAddress" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="TransactionNotes" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfCustomValue">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CustomValue" nillable="true" type="s1:CustomValue" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CustomValue">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Value" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="OrderSubmit">
        <s:complexContent mixed="false">
          <s:extension base="s1:Order">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="ShippingInfo" type="s1:ShippingInfoSubmit" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Order" abstract="true">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="OrderTimeGMT" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="ClientOrderIdentifier" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SellerOrderID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OrderStatus" type="s1:OrderStatus" />
          <s:element minOccurs="0" maxOccurs="1" name="BuyerEmailAddress" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="EmailOptIn" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="ResellerID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BillingInfo" type="s1:BillingInfo" />
          <s:element minOccurs="0" maxOccurs="1" name="PaymentInfo" type="s1:PaymentInfo" />
          <s:element minOccurs="0" maxOccurs="1" name="ShoppingCart" type="s1:OrderCart" />
          <s:element minOccurs="0" maxOccurs="1" name="CustomValueList" type="s1:ArrayOfCustomValue" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ShippingInfoSubmit">
        <s:complexContent mixed="false">
          <s:extension base="s1:ShippingInfo" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="OrderRefundHistoryResponse">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="OrderID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ClientOrderIdentifier" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="RefundStatus" type="s1:OrderRefundStatusCode" />
          <s:element minOccurs="0" maxOccurs="1" name="LineItemRefunds" type="s1:ArrayOfOrderLineItemRefundHistoryResponse" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfOrderLineItemRefundHistoryResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="OrderLineItemRefundHistoryResponse" nillable="true" type="s1:OrderLineItemRefundHistoryResponse" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="CheckoutPaymentStatusCode">
        <s:restriction base="s:string">
          <s:enumeration value="NoChange" />
          <s:enumeration value="CheckoutSamePaymentSubmitted" />
          <s:enumeration value="CheckoutSamePaymentDeposited" />
          <s:enumeration value="CheckoutSamePaymentCleared" />
          <s:enumeration value="CheckoutCanceledPaymentFailed" />
          <s:enumeration value="CheckoutReopenedPaymentFailed" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="BillingInfoUpdateSubmit">
        <s:complexContent mixed="false">
          <s:extension base="s1:BillingInfo">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="EmailAddress" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ShippingInfoUpdateSubmit">
        <s:complexContent mixed="false">
          <s:extension base="s1:ContactComplete">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="EmailAddress" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ShippingInstructions" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="EstimatedShipDate" nillable="true" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="DeliveryDate" nillable="true" type="s:dateTime" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="PaymentInfoUpdateSubmit">
        <s:complexContent mixed="false">
          <s:extension base="s1:PaymentInfo" />
        </s:complexContent>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SetOrdersExportStatusSoapIn">
    <wsdl:part name="parameters" element="tns:SetOrdersExportStatus" />
  </wsdl:message>
  <wsdl:message name="SetOrdersExportStatusSoapOut">
    <wsdl:part name="parameters" element="tns:SetOrdersExportStatusResponse" />
  </wsdl:message>
  <wsdl:message name="SetOrdersExportStatusAPICredentials">
    <wsdl:part name="APICredentials" element="tns:APICredentials" />
  </wsdl:message>
  <wsdl:message name="SubmitOrderRefundSoapIn">
    <wsdl:part name="parameters" element="tns:SubmitOrderRefund" />
  </wsdl:message>
  <wsdl:message name="SubmitOrderRefundSoapOut">
    <wsdl:part name="parameters" element="tns:SubmitOrderRefundResponse" />
  </wsdl:message>
  <wsdl:message name="SubmitOrderRefundAPICredentials">
    <wsdl:part name="APICredentials" element="tns:APICredentials" />
  </wsdl:message>
  <wsdl:message name="GetOrderListSoapIn">
    <wsdl:part name="parameters" element="tns:GetOrderList" />
  </wsdl:message>
  <wsdl:message name="GetOrderListSoapOut">
    <wsdl:part name="parameters" element="tns:GetOrderListResponse" />
  </wsdl:message>
  <wsdl:message name="GetOrderListAPICredentials">
    <wsdl:part name="APICredentials" element="tns:APICredentials" />
  </wsdl:message>
  <wsdl:message name="SubmitOrderSoapIn">
    <wsdl:part name="parameters" element="tns:SubmitOrder" />
  </wsdl:message>
  <wsdl:message name="SubmitOrderSoapOut">
    <wsdl:part name="parameters" element="tns:SubmitOrderResponse" />
  </wsdl:message>
  <wsdl:message name="SubmitOrderAPICredentials">
    <wsdl:part name="APICredentials" element="tns:APICredentials" />
  </wsdl:message>
  <wsdl:message name="SetSellerOrderIDSoapIn">
    <wsdl:part name="parameters" element="tns:SetSellerOrderID" />
  </wsdl:message>
  <wsdl:message name="SetSellerOrderIDSoapOut">
    <wsdl:part name="parameters" element="tns:SetSellerOrderIDResponse" />
  </wsdl:message>
  <wsdl:message name="SetSellerOrderIDAPICredentials">
    <wsdl:part name="APICredentials" element="tns:APICredentials" />
  </wsdl:message>
  <wsdl:message name="SetSellerOrderItemIDListSoapIn">
    <wsdl:part name="parameters" element="tns:SetSellerOrderItemIDList" />
  </wsdl:message>
  <wsdl:message name="SetSellerOrderItemIDListSoapOut">
    <wsdl:part name="parameters" element="tns:SetSellerOrderItemIDListResponse" />
  </wsdl:message>
  <wsdl:message name="SetSellerOrderItemIDListAPICredentials">
    <wsdl:part name="APICredentials" element="tns:APICredentials" />
  </wsdl:message>
  <wsdl:message name="GetOrderRefundHistorySoapIn">
    <wsdl:part name="parameters" element="tns:GetOrderRefundHistory" />
  </wsdl:message>
  <wsdl:message name="GetOrderRefundHistorySoapOut">
    <wsdl:part name="parameters" element="tns:GetOrderRefundHistoryResponse" />
  </wsdl:message>
  <wsdl:message name="GetOrderRefundHistoryAPICredentials">
    <wsdl:part name="APICredentials" element="tns:APICredentials" />
  </wsdl:message>
  <wsdl:message name="UpdateOrderListSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateOrderList" />
  </wsdl:message>
  <wsdl:message name="UpdateOrderListSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateOrderListResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateOrderListAPICredentials">
    <wsdl:part name="APICredentials" element="tns:APICredentials" />
  </wsdl:message>
  <wsdl:message name="OrderMergeSoapIn">
    <wsdl:part name="parameters" element="tns:OrderMerge" />
  </wsdl:message>
  <wsdl:message name="OrderMergeSoapOut">
    <wsdl:part name="parameters" element="tns:OrderMergeResponse" />
  </wsdl:message>
  <wsdl:message name="OrderMergeAPICredentials">
    <wsdl:part name="APICredentials" element="tns:APICredentials" />
  </wsdl:message>
  <wsdl:message name="OrderSplitSoapIn">
    <wsdl:part name="parameters" element="tns:OrderSplit" />
  </wsdl:message>
  <wsdl:message name="OrderSplitSoapOut">
    <wsdl:part name="parameters" element="tns:OrderSplitResponse" />
  </wsdl:message>
  <wsdl:message name="OrderSplitAPICredentials">
    <wsdl:part name="APICredentials" element="tns:APICredentials" />
  </wsdl:message>
  <wsdl:message name="SubmitOrderWithRecyclingSoapIn">
    <wsdl:part name="parameters" element="tns:SubmitOrderWithRecycling" />
  </wsdl:message>
  <wsdl:message name="SubmitOrderWithRecyclingSoapOut">
    <wsdl:part name="parameters" element="tns:SubmitOrderWithRecyclingResponse" />
  </wsdl:message>
  <wsdl:message name="SubmitOrderWithRecyclingAPICredentials">
    <wsdl:part name="APICredentials" element="tns:APICredentials" />
  </wsdl:message>
  <wsdl:message name="GetOrderListWithRecyclingSoapIn">
    <wsdl:part name="parameters" element="tns:GetOrderListWithRecycling" />
  </wsdl:message>
  <wsdl:message name="GetOrderListWithRecyclingSoapOut">
    <wsdl:part name="parameters" element="tns:GetOrderListWithRecyclingResponse" />
  </wsdl:message>
  <wsdl:message name="GetOrderListWithRecyclingAPICredentials">
    <wsdl:part name="APICredentials" element="tns:APICredentials" />
  </wsdl:message>
  <wsdl:message name="PingSoapIn">
    <wsdl:part name="parameters" element="tns:Ping" />
  </wsdl:message>
  <wsdl:message name="PingSoapOut">
    <wsdl:part name="parameters" element="tns:PingResponse" />
  </wsdl:message>
  <wsdl:message name="PingAPICredentials">
    <wsdl:part name="APICredentials" element="tns:APICredentials" />
  </wsdl:message>
  <wsdl:portType name="OrderServiceSoap">
    <wsdl:operation name="SetOrdersExportStatus">
      <wsdl:input message="tns:SetOrdersExportStatusSoapIn" />
      <wsdl:output message="tns:SetOrdersExportStatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SubmitOrderRefund">
      <wsdl:input message="tns:SubmitOrderRefundSoapIn" />
      <wsdl:output message="tns:SubmitOrderRefundSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetOrderList">
      <wsdl:input message="tns:GetOrderListSoapIn" />
      <wsdl:output message="tns:GetOrderListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SubmitOrder">
      <wsdl:input message="tns:SubmitOrderSoapIn" />
      <wsdl:output message="tns:SubmitOrderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetSellerOrderID">
      <wsdl:input message="tns:SetSellerOrderIDSoapIn" />
      <wsdl:output message="tns:SetSellerOrderIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetSellerOrderItemIDList">
      <wsdl:input message="tns:SetSellerOrderItemIDListSoapIn" />
      <wsdl:output message="tns:SetSellerOrderItemIDListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetOrderRefundHistory">
      <wsdl:input message="tns:GetOrderRefundHistorySoapIn" />
      <wsdl:output message="tns:GetOrderRefundHistorySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateOrderList">
      <wsdl:input message="tns:UpdateOrderListSoapIn" />
      <wsdl:output message="tns:UpdateOrderListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="OrderMerge">
      <wsdl:input message="tns:OrderMergeSoapIn" />
      <wsdl:output message="tns:OrderMergeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="OrderSplit">
      <wsdl:input message="tns:OrderSplitSoapIn" />
      <wsdl:output message="tns:OrderSplitSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SubmitOrderWithRecycling">
      <wsdl:input message="tns:SubmitOrderWithRecyclingSoapIn" />
      <wsdl:output message="tns:SubmitOrderWithRecyclingSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetOrderListWithRecycling">
      <wsdl:input message="tns:GetOrderListWithRecyclingSoapIn" />
      <wsdl:output message="tns:GetOrderListWithRecyclingSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Ping">
      <wsdl:input message="tns:PingSoapIn" />
      <wsdl:output message="tns:PingSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="OrderServiceSoap" type="tns:OrderServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SetOrdersExportStatus">
      <soap:operation soapAction="http://api.channeladvisor.com/webservices/SetOrdersExportStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:SetOrdersExportStatusAPICredentials" part="APICredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitOrderRefund">
      <soap:operation soapAction="http://api.channeladvisor.com/webservices/SubmitOrderRefund" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:SubmitOrderRefundAPICredentials" part="APICredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrderList">
      <soap:operation soapAction="http://api.channeladvisor.com/webservices/GetOrderList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetOrderListAPICredentials" part="APICredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitOrder">
      <soap:operation soapAction="http://api.channeladvisor.com/webservices/SubmitOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:SubmitOrderAPICredentials" part="APICredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSellerOrderID">
      <soap:operation soapAction="http://api.channeladvisor.com/webservices/SetSellerOrderID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:SetSellerOrderIDAPICredentials" part="APICredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSellerOrderItemIDList">
      <soap:operation soapAction="http://api.channeladvisor.com/webservices/SetSellerOrderItemIDList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:SetSellerOrderItemIDListAPICredentials" part="APICredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrderRefundHistory">
      <soap:operation soapAction="http://api.channeladvisor.com/webservices/GetOrderRefundHistory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetOrderRefundHistoryAPICredentials" part="APICredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateOrderList">
      <soap:operation soapAction="http://api.channeladvisor.com/webservices/UpdateOrderList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:UpdateOrderListAPICredentials" part="APICredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OrderMerge">
      <soap:operation soapAction="http://api.channeladvisor.com/webservices/OrderMerge" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:OrderMergeAPICredentials" part="APICredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OrderSplit">
      <soap:operation soapAction="http://api.channeladvisor.com/webservices/OrderSplit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:OrderSplitAPICredentials" part="APICredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitOrderWithRecycling">
      <soap:operation soapAction="http://api.channeladvisor.com/webservices/SubmitOrderWithRecycling" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:SubmitOrderWithRecyclingAPICredentials" part="APICredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrderListWithRecycling">
      <soap:operation soapAction="http://api.channeladvisor.com/webservices/GetOrderListWithRecycling" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetOrderListWithRecyclingAPICredentials" part="APICredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Ping">
      <soap:operation soapAction="http://api.channeladvisor.com/webservices/Ping" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:PingAPICredentials" part="APICredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="OrderServiceSoap12" type="tns:OrderServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SetOrdersExportStatus">
      <soap12:operation soapAction="http://api.channeladvisor.com/webservices/SetOrdersExportStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:SetOrdersExportStatusAPICredentials" part="APICredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitOrderRefund">
      <soap12:operation soapAction="http://api.channeladvisor.com/webservices/SubmitOrderRefund" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:SubmitOrderRefundAPICredentials" part="APICredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrderList">
      <soap12:operation soapAction="http://api.channeladvisor.com/webservices/GetOrderList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetOrderListAPICredentials" part="APICredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitOrder">
      <soap12:operation soapAction="http://api.channeladvisor.com/webservices/SubmitOrder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:SubmitOrderAPICredentials" part="APICredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSellerOrderID">
      <soap12:operation soapAction="http://api.channeladvisor.com/webservices/SetSellerOrderID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:SetSellerOrderIDAPICredentials" part="APICredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSellerOrderItemIDList">
      <soap12:operation soapAction="http://api.channeladvisor.com/webservices/SetSellerOrderItemIDList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:SetSellerOrderItemIDListAPICredentials" part="APICredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrderRefundHistory">
      <soap12:operation soapAction="http://api.channeladvisor.com/webservices/GetOrderRefundHistory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetOrderRefundHistoryAPICredentials" part="APICredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateOrderList">
      <soap12:operation soapAction="http://api.channeladvisor.com/webservices/UpdateOrderList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:UpdateOrderListAPICredentials" part="APICredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OrderMerge">
      <soap12:operation soapAction="http://api.channeladvisor.com/webservices/OrderMerge" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:OrderMergeAPICredentials" part="APICredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OrderSplit">
      <soap12:operation soapAction="http://api.channeladvisor.com/webservices/OrderSplit" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:OrderSplitAPICredentials" part="APICredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitOrderWithRecycling">
      <soap12:operation soapAction="http://api.channeladvisor.com/webservices/SubmitOrderWithRecycling" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:SubmitOrderWithRecyclingAPICredentials" part="APICredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrderListWithRecycling">
      <soap12:operation soapAction="http://api.channeladvisor.com/webservices/GetOrderListWithRecycling" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetOrderListWithRecyclingAPICredentials" part="APICredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Ping">
      <soap12:operation soapAction="http://api.channeladvisor.com/webservices/Ping" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:PingAPICredentials" part="APICredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OrderService">
    <wsdl:port name="OrderServiceSoap" binding="tns:OrderServiceSoap">
      <soap:address location="https://api.channeladvisor.com/ChannelAdvisorAPI/v5/OrderService.asmx" />
    </wsdl:port>
    <wsdl:port name="OrderServiceSoap12" binding="tns:OrderServiceSoap12">
      <soap12:address location="https://api.channeladvisor.com/ChannelAdvisorAPI/v5/OrderService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>